body {
    background-color: wheat;
}

h1 {
    display: flex;
    justify-content: center;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 40rem;
    height: 40rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.pixel {
    background-color: white;
    flex-grow: 1;
}